@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../multimedia/images/background.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 1px;
  background-color: white;
}
header div a img {
  height: 40px;
  margin-left: 30px;
  margin-right: 20px;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: middle;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  header div {
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  header div {
    display: none;
  }
}
header nav {
  font-size: 20px;
  font-family: "Titillium Web", sans-serif;
  display: flex;
  vertical-align: middle;
  margin-left: auto;
  padding-right: 10px;
}
header nav ul {
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}
header nav ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 6px;
}
header nav ul li:hover {
  background-color: rgba(26, 234, 221, 0.2);
}
header nav ul li:hover ul {
  background-color: white;
  display: block;
}
header nav ul li a {
  color: black;
  text-decoration: none;
}
@media only screen and (min-width: 1400px) {
  header nav ul #menu-nav-small {
    display: none;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  header nav ul #menu-nav-small {
    display: none;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  header nav ul #menu-nav-small {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  header nav ul #menu-nav-small {
    display: none;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  header nav ul #menu-nav-small {
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 575px) {
  header nav ul #menu-nav-small {
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  header nav ul .menu-nav-big {
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  header nav ul .menu-nav-big {
    display: none;
  }
}
header nav ul ul {
  padding: 12px 0 0px 0;
  width: 130px;
  position: absolute;
  display: none;
}
header nav ul ul li {
  max-width: 140px;
  margin: 0;
  padding: 10px 0 10px 10px;
  font-family: "Titillium Web", sans-serif;
  font-size: 15px;
  text-align: left;
  display: block;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  header nav {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 575px) {
  header nav {
    margin-left: 20px;
  }
}

footer {
  width: 100%;
  margin-top: 10px;
  background-color: white;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: auto;
}
@media only screen and (min-width: 1400px) {
  footer {
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  footer {
    justify-content: space-between;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  footer {
    justify-content: space-around;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  footer {
    justify-content: space-around;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  footer {
    justify-content: space-around;
  }
}
@media only screen and (max-width: 575px) {
  footer {
    justify-content: space-around;
  }
}
footer section {
  color: black;
  padding-top: 12px;
  padding-bottom: 10px;
  font-family: "Titillium Web", sans-serif;
}
footer .footer-logo-section {
  color: black;
  padding-top: 12px;
  padding-bottom: 10px;
  font-family: "Titillium Web", sans-serif;
}
footer .footer-logo-section div a img {
  height: 150px;
  margin-left: 30px;
  margin-right: 20px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  footer .footer-logo-section {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  footer .footer-logo-section {
    display: none;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  footer .footer-logo-section {
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  footer .footer-logo-section {
    display: none;
  }
}
footer .footer-contenido {
  display: flex;
}
footer .footer-contenido div {
  padding: 0 10px 0 10px;
}
footer .footer-contenido div .h3-section {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  margin-bottom: 0;
  padding-left: 0;
}
footer .footer-contenido div .custom-ul {
  padding-left: 0;
  list-style-type: none;
}
footer .footer-contenido div .custom-ul li a {
  color: inherit;
  text-decoration: none;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  footer .footer-contenido {
    width: 100%;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  footer .footer-contenido {
    width: 100%;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  footer .footer-contenido {
    width: 100%;
    justify-content: space-around;
  }
}
footer .footer-iconos {
  display: flex;
  flex-direction: column;
}
footer .footer-iconos .iconos-redes {
  display: flex;
}
footer .footer-iconos .iconos-redes img {
  height: 100%;
  width: 100%;
}
footer .footer-iconos .iconos-redes div {
  height: 50px;
  width: 50px;
  display: flex;
  margin: 0 30px;
}
footer .footer-iconos .iconos-redes div:hover {
  animation: temblar 150ms 2 linear;
}
footer .footer-iconos .derechos {
  margin-top: auto;
}
footer .footer-iconos .derechos p {
  padding: 0 30px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  footer .footer-iconos .derechos {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  footer .footer-iconos .derechos {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  footer .footer-iconos .derechos {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 575px) {
  footer .footer-iconos .derechos {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  footer .footer-iconos {
    align-items: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  footer .footer-iconos {
    align-items: center;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  footer .footer-iconos {
    align-items: center;
  }
}
@keyframes temblar {
  0% {
    transform: translate(4px, 0);
  }
  50% {
    transform: translate(-4px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.index {
  margin-left: 10px;
  margin-right: 10px;
}
.index section {
  margin-top: 40px;
  margin-bottom: 20px;
}
.index section div {
  border-radius: 30px;
  border: 3px;
  border-style: solid;
  border-color: #1AEADD;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.7);
}
@media screen and (min-width: 1400px) {
  .index section div {
    width: 700px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .index section div {
    width: 700px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .index section div {
    width: 700px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .index section div {
    width: 700px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .index section div {
    width: 100%;
  }
}
@media only screen and (max-width: 575px) {
  .index section div {
    width: 100%;
  }
}
.index section div h1 {
  font-size: 65px;
  color: black;
  font-family: "Dancing Script", cursive;
  font-style: italic;
}
.index section div p {
  margin-top: 30px;
  color: black;
  font-family: "Titillium Web", sans-serif;
  font-size: 25px;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .index section div p {
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  .index section div p {
    display: none;
  }
}
.index section div form button {
  margin-top: 20px;
  width: 100%;
  background-color: #1AEADD;
  border: none;
  border-radius: 50px;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-family: "Titillium Web", sans-serif;
  cursor: pointer;
}
.index section div form button:hover {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #1AEADD);
  background-size: 400% 400%;
  animation: Gradient 2s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.adoptar .adoptar-main {
  padding-top: 40px;
}
.adoptar .adoptar-main .adoptar-seccion {
  border-radius: 30px;
  border: 3px;
  border-style: solid;
  border-color: #1AEADD;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 93vw;
}
@media only screen and (min-width: 1400px) {
  .adoptar .adoptar-main .adoptar-seccion {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 20% 15% 65%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "img1ad lg1ad ds1ad" "img2ad lg2ad ds2ad" "img3ad lg3ad ds3ad";
    grid-gap: 1rem;
    vertical-align: middle;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .adoptar .adoptar-main .adoptar-seccion {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "img1ad ds1ad" "img2ad ds2ad" "img3ad ds3ad";
    grid-gap: 1rem;
    vertical-align: middle;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .adoptar .adoptar-main .adoptar-seccion {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "img1ad ds1ad" "img2ad ds2ad" "img3ad ds3ad";
    grid-gap: 1rem;
    vertical-align: middle;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .adoptar .adoptar-main .adoptar-seccion {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "img1ad" "ds1ad" "img2ad" "ds2ad" "img3ad" "ds3ad";
    grid-gap: 1rem;
    vertical-align: middle;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .adoptar .adoptar-main .adoptar-seccion {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "img1ad" "ds1ad" "img2ad" "ds2ad" "img3ad" "ds3ad";
    grid-gap: 1rem;
    vertical-align: middle;
  }
}
@media only screen and (max-width: 575px) {
  .adoptar .adoptar-main .adoptar-seccion {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "img1ad" "ds1ad" "img2ad" "ds2ad" "img3ad" "ds3ad";
    grid-gap: 1rem;
    vertical-align: middle;
  }
}
.adoptar .adoptar-main .adoptar-seccion .img1ad {
  grid-area: img1ad;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.adoptar .adoptar-main .adoptar-seccion .img2ad {
  grid-area: img2ad;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.adoptar .adoptar-main .adoptar-seccion .img3ad {
  grid-area: img3ad;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.adoptar .adoptar-main .adoptar-seccion .lg1ad {
  grid-area: lg1ad;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .adoptar .adoptar-main .adoptar-seccion .lg1ad {
    display: none;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .adoptar .adoptar-main .adoptar-seccion .lg1ad {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .adoptar .adoptar-main .adoptar-seccion .lg1ad {
    display: none;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .adoptar .adoptar-main .adoptar-seccion .lg1ad {
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  .adoptar .adoptar-main .adoptar-seccion .lg1ad {
    display: none;
  }
}
.adoptar .adoptar-main .adoptar-seccion .lg2ad {
  grid-area: lg2ad;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .adoptar .adoptar-main .adoptar-seccion .lg2ad {
    display: none;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .adoptar .adoptar-main .adoptar-seccion .lg2ad {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .adoptar .adoptar-main .adoptar-seccion .lg2ad {
    display: none;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .adoptar .adoptar-main .adoptar-seccion .lg2ad {
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  .adoptar .adoptar-main .adoptar-seccion .lg2ad {
    display: none;
  }
}
.adoptar .adoptar-main .adoptar-seccion .lg3ad {
  grid-area: lg3ad;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .adoptar .adoptar-main .adoptar-seccion .lg3ad {
    display: none;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .adoptar .adoptar-main .adoptar-seccion .lg3ad {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .adoptar .adoptar-main .adoptar-seccion .lg3ad {
    display: none;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .adoptar .adoptar-main .adoptar-seccion .lg3ad {
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  .adoptar .adoptar-main .adoptar-seccion .lg3ad {
    display: none;
  }
}
.adoptar .adoptar-main .adoptar-seccion .ds1ad {
  grid-area: ds1ad;
  padding: 0 1vw;
}
.adoptar .adoptar-main .adoptar-seccion .ds2ad {
  grid-area: ds2ad;
  padding: 0 1vw;
}
.adoptar .adoptar-main .adoptar-seccion .ds3ad {
  grid-area: ds3ad;
  padding: 0 1vw;
}
.adoptar .adoptar-main .adoptar-seccion img {
  max-width: 100%;
  height: auto;
}
.adoptar .adoptar-main .adoptar-seccion div p {
  margin-bottom: 30px;
  font-family: "Titillium Web", sans-serif;
  font-style: italic;
}
.adoptar .adoptar-main .adoptar-seccion .nombres {
  font-weight: bold;
}

.colaborar .colaborar-main {
  padding-top: 40px;
}
.colaborar .colaborar-main .colaborar-seccion {
  border-radius: 30px;
  border: 3px;
  border-style: solid;
  border-color: #1AEADD;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 20px;
  width: 93vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.colaborar .colaborar-main .colaborar-seccion div {
  justify-self: center;
  align-self: center;
  max-width: 25%;
  min-width: 300px;
}
.colaborar .colaborar-main .colaborar-seccion div p {
  margin-bottom: 15px;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
}
.colaborar .colaborar-main .colaborar-seccion div img {
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-bottom: 40px;
}
.colaborar .colaborar-main .colaborar-seccion div iframe {
  margin: 20px auto;
}

.reencuentros .reencuentros-main {
  padding-top: 40px;
}
.reencuentros .reencuentros-main .reencuentros-seccion {
  border-radius: 30px;
  border: 3px;
  border-style: solid;
  border-color: #1AEADD;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 93vw;
}
@media only screen and (min-width: 1400px) {
  .reencuentros .reencuentros-main .reencuentros-seccion {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 23% 77%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "img1re ds1re" "img2re ds2re" "img3re ds3re";
    grid-gap: 1rem;
    vertical-align: middle;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .reencuentros .reencuentros-main .reencuentros-seccion {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "img1re ds1re" "img2re ds2re" "img3re ds3re";
    grid-gap: 1rem;
    vertical-align: middle;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .reencuentros .reencuentros-main .reencuentros-seccion {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "img1re ds1re" "img2re ds2re" "img3re ds3re";
    grid-gap: 1rem;
    vertical-align: middle;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .reencuentros .reencuentros-main .reencuentros-seccion {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "img1re" "ds1re" "img2re" "ds2re" "img3re" "ds3re";
    grid-gap: 1rem;
    vertical-align: middle;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .reencuentros .reencuentros-main .reencuentros-seccion {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "img1re" "ds1re" "img2re" "ds2re" "img3re" "ds3re";
    grid-gap: 1rem;
    vertical-align: middle;
  }
}
@media only screen and (max-width: 575px) {
  .reencuentros .reencuentros-main .reencuentros-seccion {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "img1re" "ds1re" "img2re" "ds2re" "img3re" "ds3re";
    grid-gap: 1rem;
    vertical-align: middle;
  }
}
.reencuentros .reencuentros-main .reencuentros-seccion .img1re {
  grid-area: img1re;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.reencuentros .reencuentros-main .reencuentros-seccion .img2re {
  grid-area: img2re;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.reencuentros .reencuentros-main .reencuentros-seccion .img3re {
  grid-area: img3re;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.reencuentros .reencuentros-main .reencuentros-seccion .ds1re {
  grid-area: ds1re;
  padding: 0 1vw;
}
.reencuentros .reencuentros-main .reencuentros-seccion .ds2re {
  grid-area: ds2re;
  padding: 0 1vw;
}
.reencuentros .reencuentros-main .reencuentros-seccion .ds3re {
  grid-area: ds3re;
  padding: 0 1vw;
}
.reencuentros .reencuentros-main .reencuentros-seccion img {
  max-width: 100%;
  height: auto;
}
.reencuentros .reencuentros-main .reencuentros-seccion div p {
  margin-bottom: 30px;
  font-family: "Titillium Web", sans-serif;
  font-style: italic;
}
.reencuentros .reencuentros-main .reencuentros-seccion .nombres {
  font-weight: bold;
}

.contacto-main {
  margin-bottom: 20px;
}
.contacto-main .contacto-main-form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contacto-main .contacto-main-form div {
  margin: 40px auto 0px auto;
  border-radius: 30px;
  border: 3px;
  border-style: solid;
  border-color: #1AEADD;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  top: 10%;
  left: 35%;
  width: 30em;
}
.contacto-main .contacto-main-form div h2 {
  font-size: 30px;
  color: var(--navsFontColor);
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  text-align: center;
  margin-bottom: 30px;
}
.contacto-main .contacto-main-form div form input {
  font-family: "Titillium Web", sans-serif;
  margin: auto auto 20px auto;
  width: 100%;
}
.contacto-main .contacto-main-form div form select {
  font-family: "Titillium Web", sans-serif;
  margin: auto auto 20px auto;
  width: 100%;
}
.contacto-main .contacto-main-form div form textarea {
  margin: auto auto 20px auto;
  padding: 5px 10px;
  height: 200px;
  width: 100%;
  font-family: "Titillium Web", sans-serif;
  resize: none;
}
.contacto-main .contacto-main-form button {
  width: 100%;
  background-color: #1AEADD;
  border: none;
  border-radius: 50px;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  cursor: pointer;
}
.contacto-main .contacto-main-form button:hover {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #1AEADD);
  background-size: 400% 400%;
  animation: Gradient 2s ease infinite;
}

/*# sourceMappingURL=style.css.map */
