@import 'base/variables';

* {
    margin:0;
    padding:0;
}

body {
    background-image: $backgroundImage; 
    background-repeat:repeat-y;
    background-size: cover;
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

// Header
@import 'base/header';

// Footer
@import 'base/footer';

// Index
@import 'components/index';

// Adoptar
@import 'components/adoptar';

// Colaborar
@import 'components/colaborar';

// Reencuentros
@import 'components/reencuentros';

// Contacto 
@import 'components/contacto';

// Error 404
@import 'base/404';