@import 'base/variables';

* {
    margin:0;
    padding:0;
}

body {
    background-image: $backgroundImage; 
    background-repeat:repeat-y;
    background-size: cover;
    
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@import 'base/header';
@import 'base/footer';
@import 'components/index';
@import 'components/adoptar';
@import 'components/colaborar';
@import 'components/reencuentros';
@import 'components/contacto';
@import 'base/404';