@import '../base/variables';

.adoptar {

    .adoptar-main {
        
        padding-top: 40px;
        
        .adoptar-seccion {

            border-radius: 30px;
            border: 3px;
            border-style:solid;
            border-color: #1AEADD;
            padding: 30px;
            background-color:rgba(255, 255, 255, .9);
            margin-left: auto;
            margin-right: auto;
            width: 93vw;
            
            @media only screen and (min-width: 1400px){
                display: grid;
                grid-auto-rows: 1fr;
                grid-template-columns: 20%  15% 65%;
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-areas: 
                "img1ad lg1ad ds1ad"
                "img2ad lg2ad ds2ad"
                "img3ad lg3ad ds3ad"; 
                grid-gap: 1rem;
                vertical-align: middle;
            }

            
            @media only screen and (min-width: 1200px) and (max-width: 1399px){
                display: grid;
                grid-auto-rows: 1fr;
                grid-template-columns: 30%  70%;
                grid-template-rows: 1fr 1fr;
                grid-template-areas: 
                "img1ad ds1ad"
                "img2ad ds2ad"
                "img3ad ds3ad"; 
                grid-gap: 1rem;
                vertical-align: middle;   
            }
            
            @media only screen and (min-width: 992px) and (max-width: 1199px){
                display: grid;
                grid-auto-rows: 1fr;
                grid-template-columns: 30%  70%;
                grid-template-rows: 1fr 1fr;
                grid-template-areas: 
                "img1ad ds1ad"
                "img2ad ds2ad"
                "img3ad ds3ad"; 
                grid-gap: 1rem;
                vertical-align: middle;                 
            }
            
            @media only screen and (min-width: 768px) and (max-width: 991px){
                display: grid;
                grid-auto-columns: 1fr; 
                grid-auto-rows: 1fr;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-areas: 
                "img1ad"
                "ds1ad"
                "img2ad"
                "ds2ad"
                "img3ad"
                "ds3ad"; 
                grid-gap: 1rem;
                vertical-align: middle;                      
            }
            
            @media only screen and (min-width: 576px) and (max-width: 767px){
                display: grid;
                grid-auto-columns: 1fr; 
                grid-auto-rows: 1fr;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-areas: 
                "img1ad"
                "ds1ad"
                "img2ad"
                "ds2ad"
                "img3ad"
                "ds3ad"; 
                grid-gap: 1rem;
                vertical-align: middle;   
            }
            
            @media only screen and (max-width: 575px){
                display: grid;
                grid-auto-columns: 1fr; 
                grid-auto-rows: 1fr;
                grid-template-columns: 1fr;
                grid-template-rows: 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr;
                grid-template-areas: 
                "img1ad"
                "ds1ad"
                "img2ad"
                "ds2ad"
                "img3ad"
                "ds3ad"; 
                grid-gap: 1rem;
                vertical-align: middle;                  
            }

            .img1ad { grid-area: img1ad; max-width: 400px; margin-left: auto; margin-right: auto;}
            .img2ad { grid-area: img2ad; max-width: 400px; margin-left: auto; margin-right: auto;}
            .img3ad { grid-area: img3ad; max-width: 400px; margin-left: auto; margin-right: auto;}
            .lg1ad { 
                grid-area: lg1ad;   
                
                @media only screen and (min-width: 1200px) and (max-width: 1399px){
                    display: none;
                }
                
                @media only screen and (min-width: 992px) and (max-width: 1199px){
                    display: none;                  
                }
                
                @media only screen and (min-width: 768px) and (max-width: 991px){
                    display: none;                  
                }
                
                @media only screen and (min-width: 576px) and (max-width: 767px){
                    display: none;                  
                }
                
                @media only screen and (max-width: 575px){
                    display: none;                  
                }
                
                
            }

            .lg2ad { 
                grid-area: lg2ad;

                @media only screen and (min-width: 1200px) and (max-width: 1399px){
                    display: none;
                }
                
                @media only screen and (min-width: 992px) and (max-width: 1199px){
                    display: none;                  
                }
                
                @media only screen and (min-width: 768px) and (max-width: 991px){
                    display: none;                  
                }
                
                @media only screen and (min-width: 576px) and (max-width: 767px){
                    display: none;                  
                }
                
                @media only screen and (max-width: 575px){
                    display: none;                  
                }
            
            }

            .lg3ad {
                grid-area: lg3ad;
                
                @media only screen and (min-width: 1200px) and (max-width: 1399px){
                    display: none;
                }
                
                @media only screen and (min-width: 992px) and (max-width: 1199px){
                    display: none;                  
                }
                
                @media only screen and (min-width: 768px) and (max-width: 991px){
                    display: none;                  
                }
                
                @media only screen and (min-width: 576px) and (max-width: 767px){
                    display: none;                  
                }
                
                @media only screen and (max-width: 575px){
                    display: none;                  
                }
            }
            
            .ds1ad { grid-area: ds1ad;  padding: 0 1vw}
            .ds2ad { grid-area: ds2ad;  padding: 0 1vw;}
            .ds3ad { grid-area: ds3ad;  padding: 0 1vw;}
                        
            img {
                
                max-width: 100%; height: auto;
            }

            div {

                p {
                    margin-bottom: 30px;
                    font-family: 'Titillium Web', sans-serif;
                    font-style: italic;
                }
            }

            .nombres {
                
                font-weight: bold;
            }

        }
    }
}