@import '../base/variables';

.colaborar {

    .colaborar-main {

        padding-top: 40px;
        
        .colaborar-seccion {

            border-radius: 30px;
            border: 3px;
            border-style:solid;
            border-color: #1AEADD;
            padding: 30px;
            background-color:rgba(255, 255, 255, .9);
            margin-left: 30px;
            margin-right: 30px;
            width: 93vw;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;

            p {

                margin-bottom: 15px;
                text-align: center;
                font-family: 'Titillium Web', sans-serif;
                font-weight: bold;
            }

            div {

                justify-self: center;
                align-self: center;
            }

            img {
                
                height: 150px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 40%;
                margin-bottom: 40px;
            }

            iframe {
                margin-top: 20px;
            }
        }
    }
}