@import '../base/variables';

.colaborar {

    .colaborar-main {

        padding-top: 40px;
        
        .colaborar-seccion {

            border-radius: 30px;
            border: 2px;
            border-style:solid;
            border-color: #1AEADD;
            padding: 30px;
            background-color:rgba(255, 255, 255, .9);
            margin: auto;
            width: 93vw;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin-bottom: 20px;

            div {

                justify-self: center;
                align-self: center;
                max-width: 25%;
                min-width: 300px;

                p {

                    margin-bottom: 15px;
                    text-align: center;
                    font-family: 'Titillium Web', sans-serif;
                    font-weight: bold;
                    
                }
                
                .org-description {
                    margin-bottom: 15px;
                    text-align: center;
                    font-family: 'Titillium Web', sans-serif;
                    font-style: italic;
                    font-weight: lighter;
                }

                img {
                
                    height: 150px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 40%;
                    margin-bottom: 40px;
                }

                
                iframe {
                    margin: 20px auto;
                    max-width: 100%;
                }   

            }

        }
    }
}