@import '../base/variables';

.contacto-main {

    margin-bottom: 20px;
    
    .contacto-main-form {
        
        width: 100%;
        display: flex;
        justify-content:center;
        flex-wrap: wrap;

        div {
            
            margin: 40px auto 0px auto;
            border-radius: 30px;
            border: 1px;
            border-style:solid;
            border-color: #1AEADD;
            padding: 30px;
            background-color:rgba(255, 255, 255, .7);
            top: 10%;
            left: 35%;
            width: 40em;

            h1 {

                font-size: 30px;
                color: var(--navsFontColor);
                font-family: 'Titillium Web', sans-serif;
                font-style:normal;
                text-align: center;
                margin-bottom: 30px;
            }

            form {

                input {
                    padding-left: 10px;
                    font-family: 'Titillium Web', sans-serif;
                    margin: auto auto 20px auto;
                    width: 100%;
                }

                select {
                    padding-left: 10px;
                    font-family: 'Titillium Web', sans-serif;
                    margin: auto auto 20px auto;
                    width: 100%;
                }

                textarea {
                    margin: auto auto 20px auto;
                    padding: 5px 10px;
                    height: 200px;
                    width: 100%;
                    font-family: 'Titillium Web', sans-serif;
                    resize: none;
                }
            }
        }

        .quienes-somos {

            border: none;
            margin: 40px auto 0px auto;
            padding: 30px;
            background-color:rgba(255, 255, 255, .7);
            top: 10%;
            left: 35%;
            width: 40em;
            font-family: 'Titillium Web', sans-serif;
            font-style: normal;

            p {
                margin-bottom: 30px;
            }
            .mision, .objetivos {
                font-family: 'Titillium Web', sans-serif;
                font-weight: bolder;
                font-size: 25px;
                font-style: normal;
            }

        }

        button {
            
            width: 100%;
            background-color:#1AEADD;
            border: none;
            border-radius: 50px;
            color: white;
            padding: 15px 50px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 22px;
            font-family: 'Titillium Web', sans-serif;
            color: black;
            cursor: pointer;

            &:hover {
                background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #1AEADD);
                background-size: 400% 400%;
                animation: Gradient 2s ease infinite;
            }
        }
    }
}