@import '../base/variables';

.reencuentros {

    .reencuentros-main {

        padding-top: 40px;
        
        .reencuentros-seccion {

            border-radius: 30px;
            border: 3px;
            border-style:solid;
            border-color: #1AEADD;
            padding: 30px;
            background-color:rgba(255, 255, 255, .9);
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
            width: 93vw;

            @media only screen and (min-width: 1400px){
                display: grid;
                grid-auto-rows: 1fr;
                grid-template-columns: 23%  77%;
                grid-template-rows: repeat(3,auto);
                grid-template-areas: 
                "img1re ds1re"
                "img2re ds2re"
                "img3re ds3re"; 
                grid-gap: 1rem;
                vertical-align: middle;
            }

            
            @media only screen and (min-width: 1200px) and (max-width: 1399px){
                display: grid;
                grid-auto-rows: 1fr;
                grid-template-columns: 30%  70%;
                grid-template-rows: repeat(3,auto);
                grid-template-areas: 
                "img1re ds1re"
                "img2re ds2re"
                "img3re ds3re"; 
                grid-gap: 1rem;
                vertical-align: middle;
            }
            
            @media only screen and (min-width: 992px) and (max-width: 1199px){
                display: grid;
                grid-auto-rows: 1fr;
                grid-template-columns: 30%  70%;
                grid-template-rows: repeat(3,auto);
                grid-template-areas: 
                "img1re ds1re"
                "img2re ds2re"
                "img3re ds3re"; 
                grid-gap: 1rem;
                vertical-align: middle;         
            }
            
            @media only screen and (min-width: 768px) and (max-width: 991px){              
                display: grid;
                grid-auto-columns: 1fr; 
                grid-auto-rows: 1fr;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(6,auto);
                grid-template-areas: 
                "img1re"
                "ds1re"
                "img2re"
                "ds2re"
                "img3re"
                "ds3re"; 
                grid-gap: 1rem;
                vertical-align: middle;     
            }
            
            @media only screen and (min-width: 576px) and (max-width: 767px){
                display: grid;
                grid-auto-columns: 1fr; 
                grid-auto-rows: 1fr;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(6,auto);
                grid-template-areas: 
                "img1re"
                "ds1re"
                "img2re"
                "ds2re"
                "img3re"
                "ds3re"; 
                grid-gap: 1rem;
                vertical-align: middle;     
            }
            
            @media only screen and (max-width: 575px){
                display: grid;
                grid-auto-columns: 1fr; 
                grid-auto-rows: 1fr;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(6,auto);
                grid-template-areas: 
                "img1re"
                "ds1re"
                "img2re"
                "ds2re"
                "img3re"
                "ds3re"; 
                grid-gap: 1rem;
                vertical-align: middle;                   
            }

            .img1re { grid-area: img1re; max-width: 400px; margin-left: auto; margin-right: auto;}
            .img2re { grid-area: img2re; max-width: 400px; margin-left: auto; margin-right: auto;}
            .img3re { grid-area: img3re; max-width: 400px; margin-left: auto; margin-right: auto;}
            .ds1re { grid-area: ds1re; padding: 0 1vw;}
            .ds2re { grid-area: ds2re; padding: 0 1vw;}
            .ds3re { grid-area: ds3re; padding: 0 1vw; }

            img {

                max-width: 100%; height: auto;
            }

            div {

                p {

                    margin-bottom: 30px;
                    font-family: 'Titillium Web', sans-serif;
                    font-style: italic;
                }
            }

            .nombres {

                font-weight: bold;
            }
        }
    }
}