@import '../base/variables';

.reencuentros {

    .reencuentros-main {

        padding-top: 40px;
        
        .reencuentros-seccion {

            border-radius: 30px;
            border: 3px;
            border-style:solid;
            border-color: #1AEADD;
            padding: 30px;
            background-color:rgba(255, 255, 255, .9);
            margin-left: 30px;
            margin-right: 30px;
            width: 93vw;
            display: grid;
            grid-auto-rows: 1fr;
            grid-template-columns: 20%  80%;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: 
            "img1re ds1re"
            "img2re ds2re"
            "img3re ds3re"; 
            grid-gap: 1rem;
            vertical-align: middle;

            .img1re { grid-area: img1re; }
            .img2re { grid-area: img2re; }
            .img3re { grid-area: img3re; }
            .ds1re { grid-area: ds1re; }
            .ds2re { grid-area: ds2re; }
            .ds3re { grid-area: ds3re; }

            img {

                height: 180px;
            }

            div {

                p {

                    margin-bottom: 30px;
                    font-family: 'Titillium Web', sans-serif;
                    font-style: italic;
                }
            }

            .nombres {

                font-weight: bold;
            }
        }
    }
}