@import 'variables';

footer {
    width: 100%;
    margin-top: 10px;
    background-color: map-get($colores-diseno, navsBackgroundColor);
    overflow-x: hidden;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: auto;

    @media only screen and (min-width: 1400px){
        justify-content: space-between;
    }
    
    @media only screen and (min-width: 1200px) and (max-width: 1399px){
        justify-content: space-between;
    }
    
    @media only screen and (min-width: 992px) and (max-width: 1199px){
        justify-content: space-around;
    }
    
    @media only screen and (min-width: 768px) and (max-width: 991px){
        justify-content: space-around;
    }
    
    @media only screen and (min-width: 576px) and (max-width: 767px){
        justify-content: space-around;
    }
    
    @media only screen and (max-width: 575px){
        justify-content: space-around;
    }

    section {
        color: map-get($colores-diseno, navsFontColor); 
        padding-top: 12px;
        padding-bottom: 10px;
        font-family: 'Titillium Web', sans-serif;
    }

    .footer-logo-section {
        color: map-get($colores-diseno, navsFontColor);
        padding-top: 12px;
        padding-bottom: 10px;
        font-family: 'Titillium Web', sans-serif;
        
        div {
            a {
                img {
                    height: 150px;
                    margin-left: 30px;
                    margin-right: 20px;
                }
            }
        }

        @media only screen and (min-width: 1400px){
  
        }
        
        @media only screen and (min-width: 1200px) and (max-width: 1399px){
          
        }
        
        @media only screen and (min-width: 992px) and (max-width: 1199px){
            display: none;
        }
        
        @media only screen and (min-width: 768px) and (max-width: 991px){
            display: none;
        }
        
        @media only screen and (min-width: 576px) and (max-width: 767px){
            display: none;
        }
        
        @media only screen and (max-width: 575px){
            display: none;
        }
        
        
    }

    .footer-contenido {
        display: flex;
        
        div {

            padding: 0 10px 0 10px;

            .h3-section {
                display: block;
                font-size: 1.17em;
                font-weight: bold;
                margin-bottom: 0;
                padding-left: 0;
            }
            .custom-ul {
                padding-left: 0;
                list-style-type: none;
                
                li {
                    a {
                        color: inherit;
                        text-decoration: none;
                    }
                }
            }
        }

        @media only screen and (min-width: 1400px){
            
        }
        
        @media only screen and (min-width: 1200px) and (max-width: 1399px){
          
        }
        
        @media only screen and (min-width: 992px) and (max-width: 1199px){
            width: 100%;
            justify-content: space-around;
        }
        
        @media only screen and (min-width: 768px) and (max-width: 991px){
            width: 100%;
            justify-content: space-around;
        }
        
        @media only screen and (min-width: 576px) and (max-width: 767px){
            width: 100%;
            justify-content: space-around;
        }
        
        @media only screen and (max-width: 575px){
          
        }
        
        
    }

    .footer-iconos {
        display: flex;
        flex-direction: column;
        
        .iconos-redes {
            display: flex;

            img {
                height: 100%;
                width: 100%;
            }

            div {
                height: 50px;
                width: 50px;
                display: flex;
                margin: 0 30px;

                &:hover {
                    animation: temblar 150ms 2 linear;
                }
            }

        }

        .derechos {
            margin-top: auto; 
            
            p {
                padding: 0 30px;
            }

            @media only screen and (min-width: 1400px){
  
            }
            
            @media only screen and (min-width: 1200px) and (max-width: 1399px){
              
            }
            
            @media only screen and (min-width: 992px) and (max-width: 1199px){
                margin-top: 10px;              
            }
            
            @media only screen and (min-width: 768px) and (max-width: 991px){
                margin-top: 10px;
            }
            
            @media only screen and (min-width: 576px) and (max-width: 767px){
                margin-top: 10px;          
            }
            
            @media only screen and (max-width: 575px){
                margin-top: 10px;           
            }
            
        }

        @media only screen and (min-width: 1400px){
            
        }
        
        @media only screen and (min-width: 1200px) and (max-width: 1399px){
          
        }
        
        @media only screen and (min-width: 992px) and (max-width: 1199px){
            align-items: center;
        }
        
        @media only screen and (min-width: 768px) and (max-width: 991px){
            align-items: center;
        }
        
        @media only screen and (min-width: 576px) and (max-width: 767px){
            align-items: center;
        }
        
        @media only screen and (max-width: 575px){
          
        }
    }

}

@keyframes temblar {
    0% {
      transform: translate(4px, 0);
    }
    50% {
      transform: translate(-4px, 0);
    }
    100% {
      transform: translate(0, 0);
    }
  }