@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import 'variables';

header {
    display: flex;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 1px;
    background-color: map-get($colores-diseno, navsBackgroundColor);
        
        div {
        
            a {
        
                img {
                    height: 40px;
                    margin-left: 30px;
                    margin-right: 20px;
                    margin-bottom: 10px;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            
            @media only screen and (min-width: 1400px){
  
            }
            
            @media only screen and (min-width: 1200px) and (max-width: 1399px){
              
            }
            
            @media only screen and (min-width: 992px) and (max-width: 1199px){
              
            }
            
            @media only screen and (min-width: 768px) and (max-width: 991px){
              
            }
            
            @media only screen and (min-width: 576px) and (max-width: 767px){
                display: none;
            }
            
            @media only screen and (max-width: 575px){
                display: none;
            }
            
        }

        nav {
            font-size: 20px;
            font-family: 'Titillium Web', sans-serif;
            display: flex;
            vertical-align: middle;
            margin-left: auto;
            padding-right: 10px;
            
            ul {
                margin-bottom: 0;
                padding-left: 0;
                display: flex;
                
                li {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 6px;

                    &:hover {
                        background-color: rgba(26, 234, 221,0.2);
                        
                        ul {
                            background-color: map-get($colores-diseno, navsBackgroundColor);
                            display:block;
                        }
                    }
                    
                    a {
                        color: map-get($colores-diseno, navsFontColor);
                        text-decoration: none;
                    }
                }

                #menu-nav-small {
                    @media only screen and (min-width: 1400px){
                        display: none;
                    }
                    
                    @media only screen and (min-width: 1200px) and (max-width: 1399px){
                        display: none;                      
                    }
                    
                    @media only screen and (min-width: 992px) and (max-width: 1199px){
                        display: none;                      
                    }
                    
                    @media only screen and (min-width: 768px) and (max-width: 991px){
                        display: none;                      
                    }

                    @media only screen and (min-width: 576px) and (max-width: 767px){
                        justify-content:flex-start;
                    }
                    
                    @media only screen and (max-width: 575px){
                        justify-content:flex-start;
                    }  
                }

                .menu-nav-big {
                                        
                    @media only screen and (min-width: 576px) and (max-width: 767px){
                        display: none;
                    }
                    
                    @media only screen and (max-width: 575px){
                        display: none;
                    }  
                }
            
                ul {
                    padding: 12px 0 0px 0;
                    width:130px;
                    position: absolute;
                    display: none;
                    
                    li {
                        max-width: 140px;
                        margin: 0;
                        padding: 10px 0 10px 10px;
                        font-family: 'Titillium Web', sans-serif;
                        font-size: 15px;
                        text-align:left;
                        display: block;

                    }
                }
            }

            @media only screen and (min-width: 576px) and (max-width: 767px){
                margin-left: 20px;
            }
            
            @media only screen and (max-width: 575px){
                margin-left: 20px;
            }  
        }
}